<form>
  <div data-tooltip-manual="1">1</div>
  <div data-tooltip-manual="2">2</div>
  <div data-tooltip-manual="3">3</div>
  <div data-tooltip-manual="4">4</div>
  <div data-tooltip-manual="5">5</div>
  <div data-tooltip-manual="6">6</div>
  <div data-tooltip-manual="7">7</div>
  <div data-tooltip-manual="8">8</div>
  <div data-tooltip-manual="9">9</div>

  <div data-tooltip-manual="1">1</div>
  <div data-tooltip-manual="2">2</div>
  <div data-tooltip-manual="3">3</div>
  <div data-tooltip-manual="4">4</div>
  <div data-tooltip-manual="5">5</div>
  <div data-tooltip-manual="6">6</div>
  <div data-tooltip-manual="7">7</div>
  <div data-tooltip-manual="8">8</div>
  <div data-tooltip-manual="9">9</div>

  <div data-tooltip-manual="1">1</div>
  <div data-tooltip-manual="2">2</div>
  <div data-tooltip-manual="3">3</div>
  <div data-tooltip-manual="4">4</div>
  <div data-tooltip-manual="5">5</div>
  <div data-tooltip-manual="6">6</div>
  <div data-tooltip-manual="7">7</div>
  <div data-tooltip-manual="8">8</div>
  <div data-tooltip-manual="9">9</div>
</form>
